@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto-font {
  font-family: "Roboto", sans-serif;
}

.outline-text {
  color: white;
  -webkit-text-stroke: 2px black;
  /* Optional smoother rendering */
  text-shadow: 1px 1px 0 black;
}
